* { 
  /* Font styles*/
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 11pt;
}


/***Header & nav ***/

img {
  max-width: 200px;
  margin: auto;
  display: block;
}

nav {
  background-color:#f1efe7;
  padding: 30px;
}

/* General styles */

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* div {
  border: 1px black solid;
} */

input {
  max-width: 100px;
}

.title {
  font-size: 14pt;
}

/***Width of tables***/

#cows-report, #bull-report, #calf-report, #login-component, #createaccount-component,#add-cow-component, #add-calf-component, #add-bull-component, #update-cow-component, #update-calf-component, #update-bull-component  {
  display: block;
  width: 290px;
  margin: auto;
}

td {
  border: 1px black solid;
}

/* TODO Expand this to include all columns of view-only tables on reports page.
  Width depending on screen size.*/
.text_shorten {
  max-width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}




@media (min-width: 600px) {

  * {
      font-size: 14pt;
  }

  .title {
      font-size: 20pt;
  }

  input {
    max-width: 150px;
  }

  /***Width of tables***/
  #cows-report, #bull-report, #calf-report, #login-component, #createaccount-component,#add-cow-component, #add-calf-component, #add-bull-component, #update-cow-component, #update-calf-component, #update-bull-component  {
    display: block;
    width: 500px;
    margin: auto;
  }



}
