* { 
    /* Make almost everything Quicksand font */
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 11pt;
}

div {
    margin: auto;
    padding: 30px;
}

td {
    padding: 5px;
}

.bold td {
    font-weight: 700;
}


/***Main Navigation***/

#logo-nav {
    max-width: 200px;
    margin: auto;
    display: block;
}

header {
    background-color:#f1efe7;
}

nav {
    background-color: #f1efe7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.title {
    font-family: "League Spartan", sans-serif;
    font-size: 14pt;
}

/***Home page***/

/* #home-component */



/***Reports page***/

/***All Report Tables***/

td {
    border: 1px black solid;
}

/* TODO Expand this to include all columns of view-only tables on reports page.
    Width depending on screen size.*/
.text_shorten {
    max-width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/***Cow Report Table***/


/***Calf Report Table***/







@media (min-width: 600px) {

    * {
        font-size: 14pt;
    }

    .title {
        font-size: 20pt;
    }
}